<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.voxelbusters.android.essentialkitplugin" android:versionCode="1" android:versionName="1.0">
  <uses-sdk />
  <application>
    <activity android:name="com.voxelbusters.android.essentialkit.features.webview.WebViewActivity" android:theme="@style/Theme.Transparent" android:hardwareAccelerated="true" />
    <provider android:name="androidx.core.content.FileProvider" android:authorities="com.DefaultCompany.LGUmetaverse.essentialkit.fileprovider" android:exported="false" android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/essential_kit_file_paths" />
    </provider>
  </application>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:remove="android:maxSdkVersion" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:remove="android:maxSdkVersion" />
  <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />
  <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera" />
  <uses-feature android:name="android.hardware.camera.autofocus" />
</manifest>